# =========================
# VS Code / Editor settings
# =========================
.vscode/

# =========================
# Dev Containers / Docker
# =========================
.devcontainer/

# =========================
# Build artifacts
# =========================
*.o
*.out
*.exe
*.elf
*.txt
build/
bin/

# =========================
# Debugging / tooling
# =========================
*.log
core
vgcore.*

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
